.form-login{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--bg-secundary);
}

.form-title{
    color: var(--text-primary);
    font-size: 1.62rem;
}

.form__inputs{
    align-items: center;
    width: 100%;
}

.form__input{
    color: var(--text-primary);

    width: 85%;
    max-width: 35rem;

    display: flex;
    flex-direction: column;

    background-color: var(--primary);

    height: 3.5rem;
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
}

.form-label{
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-form);
}

.form-btn{
    width: calc(85% + 0.75rem);
    max-width: 35.75rem;
    height: 3.2rem;
    margin-bottom: 1rem;
}
